<nav class="navbar" role="navigation" aria-label="main navigation" style="background-color: #{{site.background_color}};">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{site.baseurl}}/">
            <img src="https://via.placeholder.com/150/{{site.background_color}}/?text=TM" width="28" height="28">
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu is-active">
        <div class="navbar-start">
            <a href="{{site.baseurl}}/" class="navbar-item">
                Home
            </a>

            <a href="{{site.baseurl}}/#games" class="navbar-item">
                Games
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a href="{{site.baseurl}}/#gamejams" class="navbar-link">
                    Gamejams
                </a>

                <div class="navbar-dropdown">
                    <a href="{{site.baseurl}}/gamejams/ld48/" class="navbar-item">
                        Deeply Organic
                    </a>
                    <a href="{{site.baseurl}}/gamejams/ggj2021/" class="navbar-item">
                        Fetch
                    </a>
                    <a href="{{site.baseurl}}/gamejams/gmtk2020/" class="navbar-item">
                        One Last Breath
                    </a>
                    <a href="{{site.baseurl}}/gamejams/ld46/" class="navbar-item">
                        Keep It Alive
                    </a>
                    <a href="{{site.baseurl}}/gamejams/ggj2020/" class="navbar-item">
                        Sinking Ship
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>