---
layout: default
---
<p class="title is-2 tags is-centered">{{ page.title }}</p>
<p class="subtitle is-5 tags is-centered"> {{page.gjname}} - {{page.gjdate}}</p>

<div class="subtitle is-6 tags is-centered">
  <a href="{{page.gamelink}}" target="_blank">Play the game</a>
  {% if page.sublink %}
  |
  <a href="{{page.sublink}}" target="_blank">Submission page</a>
  {% endif %}
</div>

<div class="content" style="margin-left: 25%; margin-right: 25%;">

{{content}}
</div>

<div class="tags is-centered">
  {% for image in page.images %}
    <img src="{{site.baseurl}}/assets/img/{{ image }}" style="max-height: 400px;">
  {% endfor %}
</div>
